<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" routerLink="home"><img src="../../assets/logo.png" alt="logo" width="30" height="30"
      class="d-inline-block align-top"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/integrantes']">Integrantes</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/alimentacao']" class="nav-link">Alimentação</a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['/receitas']" class="nav-link">Receitas<span class="sr-only">(página
            atual)</span></a>
      </li>
    </ul>
    <nav class="justify-content-end">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <div class="dropleft" id="config-user-dropleft">
            <!-- <button tye="button" class="btn btn-outline-success" id="config-user" data-toggle="dropdown"> -->
            <i class="material-icons sair" id="config-user" data-toggle="dropdown">build</i>
            <!-- </button> -->
            <div class="dropdown-menu">
              <a class="dropdown-item sair" [routerLink]="[ '/perfil']">Ver perfil</a>
              <a class="dropdown-item sair" [routerLink]="[ '/alterarPerfil']">Mudar Dados</a>
              <a class="dropdown-item sair" (click)="sair()">Sair</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</nav>
<ul class="nav fixed-bottom  nav-tabs bg-light" id="myTab" role="tablist" style="justify-content:center;">
  <li class="nav-item">
    <a class="nav-link text-dark" id="AddReceitas-tab" data-toggle="tab" href="#AddReceitas" role="tab"
      aria-controls="AddReceitas" aria-selected="true">Adicionar receita</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-dark" id="receitas-tab" data-toggle="tab" href="#receitas" role="tab"
      aria-controls="receitas" aria-selected="false">Receitas</a>
  </li>
</ul>
<div class="content">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="AddReceitas" role="tabpanel" aria-labelledby="AddReceitas-tab">
      <div class="container">
        <div class="shadow p-3 mt-5 bg-light">
          <div class="card bg-light text-dark border-0">
            <div class="card-header text-center bg-light h2">Adicionar receitas</div>
            <div class="card-body bg-light some-padding">
              <form>
                <div class="form-group">
                  <label for="nomeReceita">Nome receita</label>
                  <input type="text" name="nomeReceita" [(ngModel)]="nova_receita.nome" class="form-control"
                    id="nomeReceita" placeholder="Digite o nome da receita">
                </div>
                <div class="form-group">
                  <label for="ingredientes">Ingredientes</label>
                  <div class="form-inline">
                    <select class="form-control mr-2" [(ngModel)]="ingredienteSelecionado"
                      [ngModelOptions]="{standalone: true}" id="ingredientes">
                      <option *ngFor="let ingrediente of ingredientes" [value]="ingrediente.id">
                        {{ingrediente.nome}}
                      </option>
                    </select>
                    <button class="btn btn-success mr-2"
                      (click)="addIngredienteReceita(ingredienteSelecionado)">+</button>
                    <!-- Botão para acionar modal -->
                    <button type="button" class="btn btn-outline-success mr-2" data-toggle="modal"
                      data-target="#modalExemplo">
                      Adicionar um novo ingrediente
                    </button>
                    <label for="porcoes">Nº de porções</label>
                    <input type="nuber" class="form-control" name="porcoes" id="porcoes"
                      [(ngModel)]="nova_receita.porcoes" />
                  </div>
                </div>
                <div class="form-group">
                  <ul class="list-group">
                    <li class="list-group-item bg-success">
                      <h5 class="text-center text-light">Ingredientes selecionados</h5>
                    </li>
                    <li *ngFor="let ingrediente of ingredidenteEmUso" class="list-group-item">
                      <div class="form-inline row">
                        <label for="quantidade">{{ingrediente.nome}}({{ingrediente.tipo_und}})</label>
                        <input type="number" name="qtde" [(ngModel)]="ingrediente.qtde" class="form-control m-3"
                          id="quantidade" min=1 value=1 placeholder="Qtde">
                        <button class="btn btn-danger float-lg-right"
                          (click)="retirarIngrediente(ingrediente.id)">Retirar</button>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="form-group">
                  <label for="modo_preparo">Modo de preparo</label>
                  <textarea class="form-control" [(ngModel)]="nova_receita.modo_preparo" name="modo_preparo"
                    id="modo_preparo" rows="3" maxlength="1000"></textarea>
                </div>
              </form>
            </div> <!-- / card-body -->
            <div class="modal-footer">
              <button class="btn btn-success" (click)="adicionarReceita()">Adicionar receita</button>
            </div>
          </div>
        </div>
        <!-- MODAL ADICIONAR UM INGREDIENTE -->
        <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo ingrediente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="font120">
                  <div class="form-group">
                    <label for="nome-ingrediente">Nome do ingrediente</label>
                    <input type="text" [(ngModel)]="novo_ingrediente.nome" name="nome-ingrediente"
                      class="form-control text-dark" id="nome-ingrediente" placeholder="Nome do ingrediente">
                  </div>
                  <div class="form-group">
                    <label for="tipo-unidade">Tipo da unidade</label>
                    <input class="form-control" aria-describedby="ajuda-tipo-unidade"
                      [(ngModel)]="novo_ingrediente.tipo_und" name="tipo-unidade" id="tipo-unidade"
                      placeholder="Tipo da unidade">
                    <small id="ajuda-tipo-unidade" class="form-text text-muted">
                      Ex: 100 gramas, 1 caixa, etc... (lembrando que será calculado as calorias em base a o tipo de
                      unidade).
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="calorias-unidade">Calorias por unidade</label>
                    <input type="number" min="0" name="calorias-unidade" [(ngModel)]="novo_ingrediente.cal_p_und"
                      class="form-control text-dark" id="calorias-unidade" placeholder="Calorias por unidade">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="fecharModalIngredientes"
                  data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success" (click)="adicionarIngredientes()">Cadastrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="receitas" role="tabpanel" aria-labelledby="receitas-tab">
      <div class="container">
        <div class="shadow p-3 mt-5 bg-light">
          <div class="card bg-light text-dark border-0">
            <div class="card-header text-center bg-light h2">Receitas</div>
            <div class="card-body bg-light some-padding">
              <div class="form-group">
                <label for="receitas">Receitas existentes</label>
                <div class="row">
                  <div class="col-10">
                    <input class="form-control" id="receitasFiltro" name="receitasFiltro" [(ngModel)]="receitasFiltro">
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-outline-success"
                      (click)="pesquisar_receitas()">Pesquisar</button>
                  </div>
                </div>
              </div>
              <div class="form-inline">
                <div class="form-check">
                  <input type="radio" class="mr-1" checked id="radio-filtro-1" name="radio-filtro"
                    value="receita"><label for="radio-filtro-1" class="mr-2">Nome receita</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="mr-1" id="radio-filtro-2" name="radio-filtro" value="ingrediente"><label
                    for="radio-filtro-2" class="mr-2">Nome ingrediente</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="mr-1" id="radio-filtro-3" name="radio-filtro" value="calorias"><label
                    for="radio-filtro-3" class="mr-2">Calorias por porção</label>
                </div>
              </div>
            </div>
            <div *ngFor="let receita of receitasFitradas" class="card-footer bg-light">
              <div class="card ">
                <div class="card-header h5 text-center">
                  {{receita.nome_receita}}
                </div>
                <div class="card-body">
                  <div class="card-text row">
                    <div class="col-sm">
                      <div *ngFor="let ingrediente of receita.ingredientes">
                        {{ingrediente.qtde}} x {{ingrediente.tipo_und}} de {{ingrediente.nome_ingrediente}}
                      </div>
                    </div>
                    <div class="col-lg">
                      <textarea class="form-control" name="modo_preparo" id="modo_preparo" rows="7"
                        disabled>{{receita.modo_preparo}}</textarea>

                    </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  Rende {{receita.porcoes}} porções de {{receita.kcal_p_p}} calorias cada.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>