<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand titulo" routerLink="">
    <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top"
      alt="logo do FamíliaSaudável">
    FAMÍLIA SAUDAVEL
  </a>
</nav>
<div class="container shadow-lg p-3 mt-5 bg-white rounded">
  <div class="text-center">
    <div class="row mb-4">
      <div class="col"></div>
      <div class="col-6">
        <span class="h1">SEJA BEM-VINDO</span>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <form>
    <div class="form-group">
      <label for="email">EMAIL</label>
      <input type="user" class="form-control" id="email" placeholder="SEUEMAIL@EMAIL.COM" [(ngModel)]="email_log"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="senha">SENHA</label>
      <input type="password" class="form-control" id="senha" placeholder="DIGITE SUA SENHA" [(ngModel)]="senha_log"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-4">
      <button (click)="logar()" type="submit" class="btn btn-success" style="color: white;">LOGAR</button>
      <div class="float-right"><a routerLink="cadastro" class="btn btn-danger">CADASTRAR</a></div>
    </div>
  </form>
  <div class="text-center">
    <div class="h3">O QUE É O FAMÍLIA SAUDÁVEL?</div>
  </div>
  <div class="text-justify recuo"><br>
    <div class="recuo"> O Família Saudável é um sistema que vai te ajudar a se alimentar mais saudavelmente através dos
      calculos de taxa de metabolismo basal (TMB) e índice de massa corporal (IMC). Nós tambem temos um banco de
      receitas feito pelos nossos usuários. Cadastre-se agora mesmo e se torne mais saudável junto com a sua família.
    </div>
  </div>
</div>