<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" routerLink="home"><img src="../../assets/logo.png" alt="logo" width="30" height="30"
      class="d-inline-block align-top"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="[ '/home']">Home<span class="sr-only">(página
            atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/integrantes']">Integrantes</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/alimentacao']" class="nav-link">Alimentação</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/receitas']" class="nav-link">Receitas</a>
      </li>
    </ul>
    <nav class="justify-content-end">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <div class="dropleft" id="config-user-dropleft">
            <!-- <button tye="button" class="btn btn-outline-success" id="config-user" data-toggle="dropdown"> -->
            <i class="material-icons sair" id="config-user" data-toggle="dropdown">exit_to_app</i>
            <!-- </button> -->
            <div class="dropdown-menu">

              <a class="dropdown-item sair" (click)="sair()">Sair</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</nav>
<div class="container shadow-lg p-3 mt-5 bg-white rounded">
  <div class="card bg-light text-dark border-0">
    <div class="card-header text-center bg-light h3">Olá {{usuario.nome}}! Seja bem vindo ao Família Saudavel</div>
    <div class="card-body bg-light some-padding">
      <div class="card-text">
        <div class="row">
          <div class="card bg-light text-dark ml-1" style="width: 21rem">
            <div class="card-header text-center bg-light h5">
              Família
            </div>
            <div class="card-body bg-light some-padding">
              <div class="card-text">
                Integrantes cadastrados no sistema: 5
              </div>
            </div> <!-- / card-body -->
          </div>
          <div class="card bg-light text-dark" style="width: 21rem">
            <div class="card-header text-center bg-light h5">
              Família
            </div>
            <div class="card-body bg-light some-padding">
              <div class="card-text">
                Integrantes cadastrados no sistema: 5
              </div>
            </div> <!-- / card-body -->
          </div>
        </div>
      </div>
    </div> <!-- / card-body -->
  </div>
</div>